* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  background-color: red;
  border: 1px solid darkgrey;
  text-decoration: none;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container header,
.container footer {
  background-color: grey;
  width: 100%;
  padding: 30px;
  text-align: center;
}

.container main {
  min-height: calc(100vh - 161px);
  padding: 30px;
}

.container main h1 {
  text-align: center;
  margin-bottom: 30px;
}

.container main .mainList {
  list-style: none;
}

.container main .mainList li {
  margin-bottom: 30px;
}

.container main .mainList li h2 {
  margin-bottom: 10px;
}

.container main .mainList li h2 span {
  font-weight: normal;
}

.container main .mainList li h2 a {
  font-size: 20px;
  text-decoration: none;
}

.container main .mainList li ul {
  margin-left: 20px;
}

.container main .mainList li ul li {
  margin-bottom: 10px;
}

.container main.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container main.form input,
.container main.form select {
  margin: 10px 0;
  min-width: 300px;
}

.container main.form .btn {
  margin: 20px 0;
}

